@font-face {
    font-family: Clash font;
    src:url('./fonts/Clash-Bold.ttf');

}

*
{
    margin: 0px;
}

p {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */

}

body{
    background-image: url(./resource/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.container
{
    margin: 15px;
    width: 60vw;
    height: fit-content;

    background-color: rgba(255, 255, 255, 0.249);
    border-radius: 20px;
}
.title
{
    text-align: center;
    padding: 15px;
    font-family:'Clash font';
    color: rgb(255, 224, 22);
}

.parameters
{
    margin: auto;
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 70%;
}
.parameter
{
    font-family:'Clash font';
    color: rgb(255, 255, 255);
    
}
.err
{
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: red;

}

#calcBtn
{
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 7rem;
    height: 3rem;
    font-family: 'Clash font';
    font-size: medium;

    background-color: rgb(251, 217, 0); 
}



.switch
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}

.switchText
{
    font-family:'Clash font';
    color: rgb(255, 255, 255);
}

#switch1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#switch2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* The switch - the box around the slider */
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: .5em;
  }
  
  /* Hide default HTML checkbox */
.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#counter
{
  display: block;
  position: relative;
  left: 3.5em;
  bottom: 2.5em;
}

.timeTaken
{
    width: 50em;
    display: flex;
    font-family:'Clash font';
    font-size: large;
    color: rgb(255, 255, 255);
    align-items: center;
}

.gemBoxIcon
{
  margin: 1em;
  padding: .25em;
  width: 3em;
}
#gemBox:hover
{
  border: 1px solid white;
  border-radius: 10px;
  background-color: gray;
  scale: 1.15;
}

.timeTakenText
{
  margin: 1em;
}
